<div class="route-name-wrapper">
  <span>Article / Article's title </span>
  <span *ngIf="user">Hello, {{ user.email }}</span>
</div>
<div style="display: none" *ngIf="article; then showArticle else noArticle"></div>
<ng-template #noArticle>
  Article not found
</ng-template>
<ng-template #showArticle>
  <div class="article-wrapper shadowed-card">
    <div class="article-info-wrapper">
      <div class="resume-img-wrapper">
        <div class="img-wrapper">
          <img src="{{ article.imgPath }}" alt="">
        </div>
      </div>
      <div class="context-wrapper">
        <h2>{{ article.title }}</h2>
        <hr>
        <div class="info-article-wrapper">
          <div class="by-category-wrapper">
            <div>
              <span>by {{ article.owner }}</span>
            </div>
            <div>
              <span>/ SPORTS</span>
            </div>
            <div>
              <span class="dot dot-sports"></span>
            </div>
          </div>
          <div class="date-wrapper">
            <span>{{ article.date | date:'short' }}</span>
          </div>
        </div>
        <div class="resume-wrapper">
          <p>
            {{ article.resume }}
          </p>
        </div>
      </div>
    </div>
    <div class="text-wrapper">
      <p>
        {{ article.description }}
      </p>
    </div>
  </div>
</ng-template>
