<div class="route-name-wrapper">
  <span>Articles / {{ mode }} </span>
  <span *ngIf="user">Hello, {{ user.email }}</span>
</div>
<form [formGroup]="articleForm" (ngSubmit)="submitForm()">
  <div class="form-wrapper shadowed-card">
      <div class="left-wrapper">
        <div class="input-wrapper">
          <label for="title">Title</label>
          <input
            autocomplete="off"
            type="text"
            id="title"
            name="title"
            formControlName="title"
            [class.highlight-input-error]="!articleForm.get('title').valid && articleForm.get('title').touched"
          >
        </div>
        <div class="input-wrapper">
          <label for="resume">Resume</label>
          <textarea
            autocomplete="off"
            type="text"
            rows="3"
            id="resume"
            name="resume"
            formControlName="resume"
            [class.highlight-input-error]="!articleForm.get('resume').valid && articleForm.get('resume').touched"
          ></textarea>
        </div>
        <div class="input-wrapper">
          <label for="description">Description</label>
          <textarea
            autocomplete="off"
            type="text"
            rows="5"
            id="description"
            name="description"
            formControlName="description"
            [class.highlight-input-error]="!articleForm.get('description').valid && articleForm.get('description').touched"
          ></textarea>
        </div>
        <div class="input-wrapper">
          <label for="category">Category</label>
          <select
            (change)="changeCategory($event)"
            name="category"
            id="category"
            formControlName="category"
            [class.highlight-input-error]="!articleForm.get('category').valid && articleForm.get('category').touched"
          >
            <option value="environment">Environment</option>
            <option value="politics">Politics</option>
            <option value="sports">Sports</option>
            <option value="travel">Travel</option>
            <option value="food">Food</option>
            <option value="education">Education</option>
            <option value="health">Health</option>
            <option value="technology">Technology</option>
            <option value="entertainment">Entertainment</option>
            <option value="art">Art</option>
          </select>
          <span class="dot dot-{{ article.category | lowercase }}"></span>
        </div>
        <span style="font-size: small">*All fields are required</span>
      </div>
      <div class="right-wrapper">
        <div class="input-wrapper">
          <label for="imgPath">Image URL</label>
          <input
            autocomplete="off"
            type="text"
            id="imgPath"
            name="imgPath"
            formControlName="imgPath"
            [class.highlight-input-error]="!articleForm.get('imgPath').valid && articleForm.get('imgPath').touched"
          >
        </div>
        <div class="img-wrapper">
          <img src="{{ articleForm.get('imgPath').value }}" alt="">
        </div>
        <div class="buttons-wrapper">
          <button type="button" class="btn btn-cancel" (click)="goToMyArticles()">
            Cancel
          </button>
          <button type="button" class="btn btn-cancel" (click)="deleteArticle(article.id)">
            Delete
          </button>
          <button
            type="submit"
            class="btn btn-submit"
            [ngStyle]="{'display':articleForm.untouched ? 'none' : ''}"
            [disabled]="articleForm.invalid && articleForm.touched"
          >
            {{ mode === 'New' ? 'Add':'Edit' }}
          </button>
        </div>
      </div>
  </div>
</form>
