<div class="route-name-wrapper">
  <span>Articles </span>
  <span *ngIf="user">Hello, {{ user.email }}</span>
</div>
<div style="display: none" *ngIf="articles; then showArticles else noArticles"></div>
<ng-template #noArticles>
  <h4>There's no articles yet</h4>
</ng-template>
<ng-template #showArticles>
  <ul id="articles-wrapper">
    <li class="card-wrapper"
        *ngFor="let article of articles"
        (click)="goToArticle(article.id)"
    >
      <div class="card-small shadowed-card">
        <div class="card-img">
          <img src="{{ article.imgPath }}" alt="">
        </div>
        <div class="card-content">
          <div class="card-date-by">
            <span>By {{ !user ?  (article.owner | emailPipe) : article.owner }}</span>
            <span>{{ article.date | date:'shortDate' }}</span>
          </div>
          <div class="card-title">
            <h3>{{ article.title | subText:98 }}</h3>
          </div>
          <div class="card-resume">
            <p>{{ article.resume | subText:195 }}</p>
          </div>
        </div>
        <div class="card-category-wrapper">
          <div class="card-divider">
            <div>
              <hr noshade>
            </div>
            <div>
              <span class="dot dot-{{ article.category | lowercase }}"></span>
            </div>
          </div>
          <div class="card-category">
            <span>{{ article.category }}</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</ng-template>
