<div id="top-bar">
  <div>
    <div id="hamburger-wrapper"
         (click)="openSideBar()"
    >
      <div class="hamburger-item"></div>
      <div class="hamburger-item"></div>
      <div class="hamburger-item"></div>
    </div>
  </div>
  <div>
    <ul id="user-actions-wrapper">
      <div style="display: none" *ngIf="!authenticated; then visitant else user"></div>
      <ng-template #visitant>
        <li><a routerLink="/signup">Sign Up<i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
        <li><a routerLink="/signin">Sign In<i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
      </ng-template>
      <ng-template #user>
        <li>
          <a
            routerLink="/signin"
            (click)="logout()"
          >Logout<i class="fa fa-sign-in" aria-hidden="true"></i></a>
        </li>
      </ng-template>
    </ul>
  </div>
</div>
